.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-right: 0px;
}

.bottomLeft {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #AED9E0, #FFA69E);
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  min-height: 100%;
  background-image: url(https://www.allianz-partners.com/en_global/products/travel/_jcr_content/root/parsys/stage_copy/stageimage.img.82.3360.jpeg/1656941434448/adobestock-274341667.jpeg);
  background-size: cover;
  clip-path: polygon(30% 0, 100% 0, 100% 100%);
}

.headingDiv {
  width: 55%;
  padding: 1.75em;
  margin: 1em;
}

.welcome {
  font-family: Arial Black;
  font-size: 7vw;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: -0.3em;
}

.heading {
  font-family: Arial Black;
  font-size: 4vw;
  font-weight: bold;
  color: black;
  margin-bottom: -20px;
}

.missionParagraph {
  font-family: Arial;
  font-size: 1.3vw;
  margin-top: 2em;
}

.actionButton {
  font-family: Helvetica;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
  font-size: 2vw;
  background-image: linear-gradient(to left, #5E6472, #AED9E0, #FFA69E, #5E6472);
  color: white;
  border-style: none;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 50px 10px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 20px rgba(0, 0, 0, 1);
}

.buttonDiv {}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
