.Navbar {
    background-color: #5E6472;
    color:white;
    height:5em;
    display:flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 25px;
}

.logo {
    width:auto;
    height:100%;
    background-color: #5E6472
}

.right-nav-bar {
    display: flex;
    align-items: center;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color:black
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 400px;
    max-width: 100%;
}
